<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog - Home Page</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/blog-home.css}" rel="stylesheet">

</head>

<body>
<!-- Navigation -->
<div th:insert="common/navbar.html :: navbar-note"></div>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h2 class="mt-4">Edit your note:</h2>
            <div th:each="note : ${detail}">
                <form method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="text" th:value="${note.title}" name="title" placeholder="Note name..." class="form-control"><br>
                    <textarea style="min-height: 200px" name="text" placeholder="Text..." class="form-control" spellcheck="false" th:text="${note.text}"></textarea><br>
                    <input type="text" th:value="${note.tag}" name="tag" placeholder="Tags..." class="form-control"><br>
                    <button type="submit" class="btn btn-success">Update note</button>
                </form>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<div th:insert="common/footer.html :: footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
