<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/landing-page.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<div th:insert="common/navbar-lite.html :: navbar-lite"></div>

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h2 class="mt-4">User editor</h2>
            <form action="/user-list/user-manager" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="text" name="userName" th:value="${user.username}" class="form-control"><br>
                <input type="checkbox" name="userRole" th:value="USER"><label> USER</label><br>
                <input type="checkbox" name="userRole" th:value="ADMIN"><label> ADMIN</label><br>
                <input type="hidden" name="userId" th:value="${user.id}" class="form-control">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-success">Поновити</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>