<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/landing-page.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<div th:insert="common/navbar-lite.html :: navbar-lite"></div>

<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">User Role</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th scope="row"></th>
                    <td th:text="${user.username}"></td>
                    <td>
                        <div th:each="role : ${user.roles}">
                            <span th:text="${role}"></span>
                        </div>
                    </td>
                    <td><a th:href="'/' + 'user-list' + '/' +${user.getId()}">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>